* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: blanchedalmond;
}

.parent {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation {
  width: 180px;
  height: 180px;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  /*  transform: rotateZ(30deg);
  transform: translate(150px,200px); */
  /* transform: scaleZ(150%); */
  transform: skewY(30deg);
}

.transition {
  width: 180px;
  height: 180px;
  background: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transition:hover {
  background: blue;
  transform: translateX(200px);
  /*  transition-duration: 1s;
  transition-delay: 0.5;
  transition-timing-function: linear; */
  transition: all 5s linear 0.5s;
}

#animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
  background: blue;
  /*   animation-name: jump;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: normal; */
  animation: 1s ease-in 1s 1 normal forwards jump;
}

@keyframes jump {
  0% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(280px) rotateX(180deg);
  }

  60% {
    transform: translateY(-280px) rotateY(180deg);
  }

  100% {
    background: brown;
    color: white;
  }
}
