* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgb(200, 125, 125), rgb(227, 32, 32));
}

/* .img {
  height: 450px;
  width: 450px;
  border: 3px solid red;
  background-image: url(download-3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
} */

.linear-gradient {
  height: 100%;
  width: 100%;
}
