* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.linear-gradient {
  height: 100%;
  width: 100%;
  background-image: url(download-3.jpeg),
    linear-gradient(rgb(200, 125, 125), rgb(227, 32, 32));
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-blend-mode: overlay;
}
