* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background: lavender;
  color: black;
}

.container {
  border: 2px solid purple;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 80px 1fr 200px 60px;
  gap: 10px;
}

.box {
  background: plum;
  padding: 10px;
  font-size: 22px;
}

.header,
.footer {
  grid-column-start: 1;
  grid-column-end: 3;
}

.article {
  grid-row-start: 2;
  grid-row-end: 4;
}
