/* * {
  margin: 0;
  padding: 0;
}
 */
body {
  background-image: url(download.jpeg);
  background-size: cover;
  /* background-repeat: no-repeat; */
  color: hsl(0, 0%, 100%);
}

.selectors li {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 2px;
}

#box {
  border: 4px solid violet;
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 250px;
}

a {
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
  color: black;
  cursor: pointer;
}

a:hover {
  font-size: 22px;
  border: 1px solid white;
}

ul li {
  list-style-type: upper-roman;
}
