body {
  width: 100vw;
  height: 100vh;
  background: rgb(19, 17, 17);
  color: white;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
