.fontcolor {
  color: blue;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  margin: 10px;
  padding: 8px;
  border-radius: 4px;
  width: 300px;
}
button {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
